sharenet_server
sharenet_client
*.exe
*.o
*.out
*.log
.sharenet_fltk_client.ini
build/
dist/
vcpkg_installed/
src/fltk/vcpkg_installed/
server_files/*
client_files/*
downloads/*
!server_files/.gitkeep
!client_files/.gitkeep
!downloads/.gitkeep
.DS_Store
